.Contact {
  padding: 100px 165px;
  display: flex;
  justify-content: space-between;
}
.form-group {
  margin-bottom: 20px;
  flex-basis: 49%; /* Set the minimum width to 45% */
  max-width: 45%; /* Set the maximum width to 45% */
}
.firstSection {
  display: flex;
  flex-direction: column;
}

.formHeading {
  padding: 0px 0px 51px 0px;
}

.formSection {
  border-radius: 20px;
  padding: 20px 20px;
  width: 100vw;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust gap as needed */
}

.formName {
  flex: 1 1 calc(50% - 10px); /* Two inputs per row with some gap */
  margin-bottom: 10px;
  background: #f9f9f9;
  border-radius: 10px;
}

.formHeadingText {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(59, 63, 92, 1);
  text-transform: uppercase;
}

input,
textarea {
  width: 100%;
  height: 40px;
  padding: 10px 16px; /* Adjusted padding for better alignment */
  color: rgba(97, 97, 97, 0.61);
  border-radius: 8px;
  border: 1px solid #d7d8d7;
  font-weight: 600;
  background: #f9f9f9; /* Set a background color */
}

textarea {
  resize: none;
  height: 167px;
  line-height: 1.5;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: black;
}

input:placeholder-shown,
textarea:placeholder-shown {
  color: rgba(97, 97, 97, 0.61);
}

input:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
  color: black;
}

.enabledButton {
  border: 2px solid rgba(9, 14, 142, 1);
  background: transparent;
  color: blue;
  padding: 15px 15px;
  border-radius: 12px 4px 12px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabledButton {
  border: 1px solid black;
  background: gray;
  color: white;
}

@media (width<1000px) {
  .Contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 70px;
    gap: 30px;
  }

  .firstSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 50px;
  }

  .formSection {
    padding: 20px 20px;
  }

  .formName {
    flex: 1 0 100%; /* Full width on smaller screens */
  }
}

@media (width<800px) {
  .Contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
    gap: 30px;
  }

  .firstSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 50px;
  }

  .formSection {
    padding: 20px 20px;
  }

  .formName {
    flex: 1 0 100%; /* Full width on smaller screens */
  }
}
