.Services {
  padding: 120px 250px 120px 260px;
  display: flex;
  align-items: center;
}
.Heading {
  color: #090e8e;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.Heading2 {
  color: #1c3c4a;
  line-height: normal;
  text-transform: capitalize;
  font-family: Libre Caslon Text;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.36px;
  margin-bottom: 12px;
  text-align: left;
}
.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text {
  width: 33vw;
  font-family: Inter;
  font-size: 18px;
  font-weight: 300;
  line-height: 28.8px;
  text-align: left;
}
.ServicesContainer {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
.roundBorderImage {
  border-radius: 100px 16px 100px 16px;
}
@media (1000px<width<1400px) {
  .ServicesContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (200px < width<1000px) {
  .Services {
    padding: 80px 50px;
    width: 100%;
  }
  .Heading {
    color: #3b3f5c;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    padding: 0px 0px 48px 0px;
  }
  .ServicesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
