.Blog {
  padding: 120px 150px 120px 160px;
}

.Heading {
  color: #3b3f5c;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.Heading2 {
  color: #3b3f5c;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.blogContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.blogCard {
  width: 30%;
  height: auto;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px 0px rgba(211, 218, 226, 0.5);
  transition: transform 0.5s ease;
  border: 1px solid #090e8e4d;
}

@media screen and (width < 1400px) {
  .Blog {
    padding: 50px 50px;
  }
  .blogCard {
    width: 47%;
  }
}

@media screen and (width < 1000px) {
  .Blog {
    padding: 30px 50px;
  }
  .blogCard {
    width: 47%;
  }
}

@media screen and (width < 700px) {
  .Blog {
    padding: 30px 50px;
  }
  .blogCard {
    width: 100%;
  }
}

.blogImageContainer {
  height: 269px; /* Adjust as needed to maintain aspect ratio */
  overflow: hidden;
  border-radius: 8px;
}

.blogImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.devBtn {
  background-color: #e8e5e5;
  padding: 8px 16px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.devBtn > p {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.readText {
  font-size: 14px;
  font-weight: 500;
  color: rgba(156, 156, 156, 1);
  margin-top: 8px;
}

.cardTitle {
  margin-top: 16px;
}

.cardTitle > p {
  font-size: 18px;
  font-weight: 600;
  color: rgba(59, 63, 92, 1);
  margin: 0;
}

.cardDescription {
  margin-top: 12px;
}

.cardDescription > p {
  font-size: 16px;
  font-weight: 300;
  color: rgba(135, 136, 152, 1);
  margin: 0;
}

.learnMore {
  font-size: 14px;
  font-weight: 600;
  transition: color 0.3s;
}

.learnMore:hover {
  color: #3b3f5c;
}
