.Blog {
  padding: 120px 150px;
}

.blogContainer {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.blogCard {
  padding: 32px 32px;
  width: 31%;
  border-radius: 11px;
  box-shadow: 0px 4px 10px 0px rgba(211, 218, 226, 0.5);
  margin-bottom: 38px;
  transition: transform 0.5s ease;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.blogCard:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.blogImage {
  border-radius: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}
.devBtn {
  background-color: #e8e5e5;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
}
.devBtn > p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}
.readText {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(156, 156, 156, 1);
}
.cardTitle > p {
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.14000000059604645px;
  text-align: left;
  color: rgba(59, 63, 92, 1);
}

.cardDescription > p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(59, 63, 92, 1);
}
@media (1000px<width<1400px) {
  .blogContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .buttons {
    display: flex;
    padding: 0px 0px 0px 25px;
    flex-direction: column;
  }
  .blogCard {
    padding: 32px 32px;
    width: 47%;
    margin-bottom: 38px;
    transition: transform 0.5s ease;
    gap: 32px;
    border-radius: 8px;
    border: 1px solid rgba(59, 14, 97, 0.1);
  }
}
@media (200px < width<1000px) {
  .Blog {
    padding: 80px 50px;
    width: 100%;
  }
  .Heading {
    color: #3b3f5c;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    padding: 0px 0px 48px 0px;
  }
  .blogContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .blogCard {
    padding: 32px 32px;
    width: 100%;
    margin-bottom: 38px;
    transition: transform 0.5s ease;
    gap: 32px;
    border-radius: 8px;
    border: 1px solid rgba(59, 14, 97, 0.1);
  }
  .blogCardTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 5px;
  }
  .buttons {
    display: flex;
    padding: 0px 0px 0px 25px;
    flex-direction: column;
  }
  .buttonContainer {
    display: flex;
    width: fit-content;
    flex-direction: column;
    text-align: left;
  }
}
