.Industries {
  padding: 120px 150px 80px 150px;
}
.IndustriesHeading {
  color: #3b3f5c;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  padding: 0px 0px 48px 0px;
}

.IndustriesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0 50px;
}
.Industrycard {
  display: flex;
  padding: 32px 0px;
  justify-content: flex-end;

  width: 30%;
  height: 350px;
  margin-bottom: 38px;
  background-size: cover;
  flex-direction: column;
  gap: 32px;
  border-radius: 8px;
}

.IndustrycardDescription {
  color: white;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: bolder;
  line-height: 146.023%; /* 26.284px */
}
.touch-slider {
  display: none;
}
@media (1000px<width<1400px) {
  .IndustriesContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .Industrycard {
    padding: 32px 32px;
    width: 47%;
    margin-bottom: 38px;
    transition: transform 0.5s ease;
    gap: 32px;
    border-radius: 8px;
  }
}
@media (200px < width<1000px) {
  .Industries {
    padding: 80px 50px;
    width: 100%;
  }
  .IndustriesHeading {
    color: #3b3f5c;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    padding: 0px 0px 48px 0px;
  }
  .IndustriesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .Industrycard {
    padding: 32px 32px;
    width: 100%;
    margin-bottom: 38px;
    transition: transform 0.5s ease;
    gap: 32px;
    border-radius: 8px;
  }
  .IndustrycardDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
  }
}
