.Industries {
  padding: 80px 150px;
}
.IndustriesHeading {
  color: #3b3f5c;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  padding: 0px 0px 48px 0px;
}

.IndustriesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Industrycard {
  display: flex;
  padding: 32px 0px;
  justify-content: flex-end;

  width: 30%;
  height: 350px;
  margin-bottom: 38px;
  background-image: url("../../public/Assets/Home/IndustryCardBg.svg");
  background-size: cover;
  flex-direction: column;
  gap: 32px;
  border-radius: 8px;
  border: 1px solid rgba(59, 14, 97, 0.1);
}

.IndustrycardDescription {
  color: white;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: bolder;
  line-height: 146.023%; /* 26.284px */
}
