.OurWork {
  background: var(--blackGradient, #151515);
  padding: 120px 150px;
}
.workCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.workcard {
  display: flex;
  padding: 30px 30px;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 45%;
  border-radius: 11px;
  transition: transform 0.5s ease;
  background: #434343;
}
.workcard:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.cardLogo {
  padding: 0px 0px 21px 0px;
}
.cardTextContent {
  color: var(--whitePrimary, #fff);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 146.023%; /* 29.205px */
}

@media (1000px<width<1400px) {
  .workCardsContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .workcard {
    padding: 32px 32px;
    width: 47%;
    margin-bottom: 38px;
    transition: transform 0.5s ease;
    gap: 32px;
    border-radius: 8px;
    border: 1px solid rgba(59, 14, 97, 0.1);
  }
}
@media (200px < width<1000px) {
  .OurWork {
    padding: 80px 50px;
  }
  .Heading2 {
    color: #3b3f5c;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    padding: 0px 0px 48px 0px;
  }
  .workCardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .workcard {
    padding: 32px 32px;
    width: 100%;
    margin-bottom: 38px;
    transition: transform 0.5s ease;
    gap: 32px;
    border-radius: 8px;
    border: 1px solid rgba(59, 14, 97, 0.1);
  }
}
