.Process {
  padding: 120px 250px 120px 260px;
}
.ProcessHeading {
  color: #3b3f5c;
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  padding: 0px 0px 48px 0px;
}
.Processbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.ProcessContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 20px 20px;
  justify-content: space-around;
}
.ProcessCard {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 1px solid;
  padding: 30px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: -14px 10px 8px 0px rgba(9, 14, 152, 0.6);

  gap: 22px;
  flex: 1 0 0;
  color: #3b3f5c;
  cursor: pointer;
}

.ProcessNumber {
  color: rgba(63, 186, 0, 0.2);
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ProcessTitle {
  color: #1c3c4a;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.14px;
  text-transform: uppercase;
}
.ProcessDescription {
  color: #343434;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 146.023%; /* 26.284px */
}
@media (1000px< width <1400px) {
  .Process {
    padding: 80px 50px;
    background: var(--newG-Grey, #f9f9f9);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .ProcessHeading {
    font-size: 40px;
  }
  .ProcessCard {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    gap: 22px;
    background: var(--whitePrimary, #fff);
    width: 80%;
    flex: 1 0 0;
    color: #3b3f5c;
    cursor: pointer;
    box-shadow: -4px 8px 1px rgba(9, 14, 152, 0.6);
  }
}
@media (width <1000px) {
  .Process {
    padding: 80px 50px;
    background: var(--newG-Grey, #f9f9f9);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .ProcessHeading {
    font-size: 40px;
  }
  .ProcessContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
  }
  .ProcessCard {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 90%;
    align-items: center;
    border-radius: 15px;
    gap: 22px;
    background: var(--whitePrimary, #fff);
    width: 100%;
    flex: 1 0 0;
    color: #3b3f5c;
    cursor: pointer;
  }
}
