.Services {
  padding: 80px 150px;
}
.Heading {
  color: #3b3f5c;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  padding: 0px 0px 48px 0px;
}
.Heading2 {
  color: var(--whitePrimary, #fff);
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  padding: 0px 0px 48px 0px;
}
.ServicesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  display: flex;
  padding: 32px 0px;
  width: 30%;
  margin-bottom: 38px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 8px;
  border: 1px solid rgba(59, 14, 97, 0.1);
}

.cardIcon {
  padding: 0px 0px 10px 0px;
}
.cardTitle {
  color: #3b3f5c;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 28px */
  letter-spacing: 0.14px;
  text-transform: uppercase;
}

.cardDescription {
  color: #3b3f5c;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 146.023%; /* 26.284px */
}

.card:hover {
  background: var(--greenMain, #3fba00);
  color: white;
  cursor: pointer;
}
