.Services {
  padding: 80px 150px;
}
.Heading {
  color: #3b3f5c;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  padding: 0px 0px 48px 0px;
}
.Heading2 {
  color: var(--whitePrimary, #fff);
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  padding: 0px 0px 48px 0px;
}
.ServicesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  padding: 32px 32px;
  width: 30%;
  margin-bottom: 38px;
  transition: transform 0.5s ease;

  gap: 32px;
  border-radius: 8px;
  border: 1px solid rgba(59, 14, 97, 0.1);
}

.cardIcon {
  padding: 0px 0px 24px 0px;
}
.cardTitle {
  color: #3b3f5c;
  font-family: Poppins;
  padding: 0px 0px 12px 0px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 28px */
  letter-spacing: 0.14px;
  text-transform: uppercase;
}

.cardDescription {
  color: #3b3f5c;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  padding: 0px 0px 20px 0px;
  font-weight: 300;
  line-height: 146.023%; /* 26.284px */
}

.card:hover {
  background: var(--greenMain, #3fba00);
  cursor: pointer;
  transform: scale(1.1);
}
.card:hover > p {
  color: white;
}
.learnMore {
  color: #3b3f5c;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.14000000059604645px;
  text-align: left;
}
@media (1000px<width<1400px) {
  .ServicesContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .card {
    padding: 32px 32px;
    width: 47%;
    margin-bottom: 38px;
    transition: transform 0.5s ease;
    gap: 32px;
    border-radius: 8px;
    border: 1px solid rgba(59, 14, 97, 0.1);
  }
}
@media (200px < width<1000px) {
  .Services {
    padding: 80px 50px;
  }
  .Heading {
    color: #3b3f5c;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    padding: 0px 0px 48px 0px;
  }
  .ServicesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .card {
    padding: 32px 32px;
    width: 100%;
    margin-bottom: 38px;
    transition: transform 0.5s ease;
    gap: 32px;
    border-radius: 8px;
    border: 1px solid rgba(59, 14, 97, 0.1);
  }
}
