.blogDetailsPage {
  padding: 0px 165px;
}
.blogDetailsContent {
  padding: 150px 0px;
  display: flex;
  gap: 50px;
}
.navigationSection {
  width: 80%;
}
.navigator {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}
.BackIconText:hover {
  color: #3fba00;
  cursor: pointer;
}

.BackIconText {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(26, 32, 46, 1);
}

.navigatorHeading {
  padding: 15px 15px;
}
.navigatorHeadingText {
  font-family: Poppins;
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(26, 32, 46, 1);
}
.navigatorTextDetails {
  font-family: Poppins;
  font-size: 16px;
  padding: 0px 0px 0px 21px;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(94, 106, 134, 1);
}
.navigatorTextDetails:hover {
  color: #3fba00;
  cursor: pointer;
}
.UltimateGuideContentHeading {
  font-family: Alegreya;
  font-size: 48px;
  margin-bottom: 24px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(26, 32, 46, 1);
}
.UltimateGuideContentText {
  display: flex;
  flex-direction: column;
  gap: 42px;
  margin-top: 42px;
}
.UltimateGuideContentTextHeading {
  font-family: Poppins;
  font-size: 24px;
  margin-bottom: 23px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(26, 32, 46, 1);
}
.Detailsparagraphs {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.UltimateGuideContentTextParagraph {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(59, 63, 92, 1);
}
@media (1000px < width < 1400px) {
  .blogDetailsPage {
    padding: 0px 50px;
  }
}
@media (width < 1000px) {
  .blogDetailsPage {
    padding: 0px 50px;
  }
  .navigationSection {
    display: none;
  }
}
@media (width < 600px) {
  .blogDetailsPage {
    padding: 0px 50px;
  }
  .blogDetailsContent {
    padding: 100px 0px;
  }
  .UltimateGuideContentHeading {
    font-size: 34px;
    line-height: 50px;
  }
}
