@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.inter {
  font-family: "Inter", sans-serif;
}
.navbarOpen {
  overflow: hidden;
}

.custom-text-24 {
  font-size: 24px;
}
.custom-text-64 {
  font-size: 64px;
}

.buttons {
  display: flex;
  gap: 20px;
}
.icon {
  background-color: black; /* Set background color to black */
  padding: 10px; /* Optional: Add padding if needed */
  display: inline-block; /* Ensure the SVG respects the background color */
  border-radius: 5px; /* Optional: Add rounded corners if desired */
}

.icon path {
  fill: white; /* Set path color to white */
}

@media (200px<width<700px) {
  .buttons {
    display: flex;
    flex-direction: column;
  }
}
