@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.inter {
  font-family: "Inter", sans-serif;
}
.navbarOpen {
  overflow: hidden;
}

.poppins {
  font-family: "Poppins" sans-serif;
}
.custom-text-24 {
  font-size: 24px;
}
.custom-text-64 {
  font-size: 64px;
}

.buttons {
  display: flex;
  gap: 20px;
}

@media (200px<width<700px) {
  .buttons {
    display: flex;
    flex-direction: column;
  }
}
