.my-form {
  margin: 40px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
  flex-basis: 49%; /* Set the minimum width to 45% */
  max-width: 45%; /* Set the maximum width to 45% */
}

.label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.input-field {
  width: 100%;
  height: 45px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}
.input-field1 {
  width: 100%;
  height: 45px;
  padding: 6px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.input-field:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.submit-btn {
  width: 20%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #3e8e41;
}
@media only screen and (max-width: 690px) {
  .form-group {
    flex-basis: 100%; /* Set the minimum width to 100% */
    max-width: 100%; /* Set the maximum width to 100% */
  }
  .input-field,
  .input-field1 {
    width: 100%;
  }
}
