.clientmain {
  background-color: #f9f9f9;
  padding: 80px 150px;
  overflow: hidden;
}

.clientheading {
  display: flex;
  justify-content: space-between;
}
.clientheadingText {
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 96px;
  margin-bottom: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #3b3f5c;
}

.Pagination {
  display: flex;
  gap: 50px;
}
.PaginationLeftImg {
  cursor: pointer;
}
.PaginationRightImg {
  cursor: pointer;
}
.custom-slider {
  background-color: red;
}
.cardsContainer {
  display: flex;
  width: 100%;
  gap: 80px;
  transition: transform 1s ease;
}

.clientfeedback {
  box-sizing: border-box;
  padding: 60px 54px;
  min-width: 500px;
  border: 1px solid #eff0f6;
  background-color: #ffffff;
  border-radius: 20px;
}

.cardHeading {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #170f49;
}
.cardContent {
  font-family: Inter;
  font-size: 17px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #6f6c90;
  padding: 13px 0px 29px 0px;
}

.clientDetail {
  display: flex;
  align-items: center;
}

.clientName {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #170f49;
}
.clientInfo {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #6f6c90;
}

.videoContainer {
  display: flex;
  height: 600px;
  padding: 0px 0px 0px 50px;
  justify-content: center;
  align-items: center;
}

.video {
  border-radius: 20px;
  width: 40%;
  height: 80%;
}
.videoContent {
  display: flex;
  padding: 30px 100px;
  flex-direction: column;
  width: 50%;
}
.videotext {
  padding: 23px 0px 24px 0px;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #6f6c90;
}

@media (width < 1400px) {
  .clientmain {
    display: none;
  }
}
