.main {
  padding: 40px 150px;
}
.Card {
  background-color: #f8f8f8;
  display: flex;
  padding: 50px 0px;
  margin-bottom: 30px;
  width: 100%;
  justify-content: space-around;
}
.Content {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Companyheading {
  font-family: Inter;
  font-size: 24px;
  margin-top: 24px;
  font-weight: bolder;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: #3b3f5c;
}
.tagline {
  font-family: Inter;
  font-size: 20px;
  margin-top: 12px;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: #3b3f5c;
}
.text {
  margin-top: 45px;
  color: #3b3f5c;
  font-size: 20px;
}

.LearnMore {
  display: flex;
  margin-top: 75px;
}

.LearnMoreText {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #3fba00;
}
@media (width<1400px) {
  .Card {
    background-color: #f8f8f8;
    border-radius: 20px;
  }
  .Content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .text {
    margin-top: 24px;
    font-size: 20px;
    color: #3b3f5c;
  }
}
@media (width<1000px) {
  .main {
    padding: 10px 80px;
  }

  .Card {
    border-radius: 20px;
    padding: 10px 20px;
    align-items: center;
  }
  .Content {
    display: flex;
    padding: 0px 0px;
    overflow: hidden;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .Companylogo {
    display: none;
  }
  .Companyheading {
    font-family: Inter;
    font-size: 24px;
    margin-top: 24px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #3b3f5c;
  }

  .LearnMore {
    display: flex;
    margin-top: 45px;
  }
  .LearnMoreText {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #3fba00;
  }
}
@media (width<800px) {
  .main {
    padding: 10px 0px;
  }

  .Card {
    border-radius: 20px;
    padding: 20px 20px;
    flex-direction: column-reverse;
  }
  .Content {
    display: flex;
    width: max-content;
    padding: 0px 0px;
  }
  .Companylogo {
    display: none;
  }
  .tagline {
    display: none;
  }
  .text {
    display: none;
  }
  .Companyheading {
    font-family: Inter;
    font-size: 24px;
    margin-top: 24px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #3b3f5c;
  }

  .LearnMore {
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }
  .LearnMoreText {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #3fba00;
  }
}
