.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  border-radius: 40px;
  background: #fff;
  padding: 60px 30px;
  border: 1px solid #3fba00;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiperTitle {
  color: var(--Neutral-800, #170f49);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 127.273% */
}
.SwiperText {
  color: var(--Neutral-600, #6f6c90);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
}
.SwiperClient {
  display: flex;
  align-items: center;
}
.SwiperClientName {
  color: var(--Neutral-800, #170f49);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 111.111% */
  margin-bottom: 8px;
}
.SwiperClientDetail {
  color: var(--Neutral-600, #6f6c90);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
