body {
  padding: 0;
  margin: 0;
}

.navbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 1.2vw 6.45vw;
  background-color: transparent;
}

.logo {
  color: #3fba00;
  font-family: Inter;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-weight: 900;
  font-size: 2.5vw;
  cursor: pointer;
  transition: transform 0.6s ease-out;
}
.logo:hover {
  transform: scale(1.2);
}
.navbar-items {
  font-family: Inter;
  gap: 30px;
  display: flex;
  align-items: center;
  font-size: 1.2vw;
  font-weight: 700;
}

a {
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.1);
}
.TransparentBtn:hover {
  transform: scale(1.1);
}
.btn {
  padding: 15px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3fba00;
  transition: transform 0.5s ease-in-out;
}
.TransparentBtn {
  padding: 15px 30px;
  border-radius: 10px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1.5px solid var(--greenMain, #3fba00);
  background: transparent;
  transition: transform 0.5s ease-in-out;
}

.TransparentBtnText {
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: #3fba00;
}

.TransparentBtnText {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: #3fba00;
}
.btnText {
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}
.sidebarBtn {
  cursor: pointer;
  font-size: 20px;
  display: none;
}

.navbarIcon {
  cursor: pointer;
  transition: transform 0.6s ease-out;
}
.navbarIcon:hover {
  color: #3fba00;
  transform: scale(1.2);
}
.dropdownMenu {
  display: none;
}

@media (max-width: 700px) {
  .navbar {
    position: fixed;
    background-color: #fff;
  }
  .navbar-items {
    display: none;
  }
  .logo {
    gap: 10px;
  }
  .logoImg {
    height: 30px;
    width: 30px;
  }
  .sidebarBtn {
    display: block;
  }
  .dropdownMenu {
    padding: 120px 75px 0px 75px;
    font-weight: bold;
    position: fixed;
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100vw;
    top: 80px;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(24, 23, 23);
    z-index: 1000;
  }
  .navbarIcon {
    color: var(--whitePrimary, #fff);
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 143.944%; /* 46.062px */
    text-transform: uppercase;
  }
}
