body {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.2vw 6.45vw;
  background-color: #f9f9f9;
}

.logo {
  color: #3fba00;
  font-family: Inter;
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 2.5vw;
  cursor: pointer;
}
.navbar-items {
  font-family: Inter;
  gap: 30px;
  display: flex;
  align-items: center;
  font-size: 1.2vw;
  font-weight: 700;
}

a {
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.1);
}
.btn {
  padding: 15px 15px;
  border-radius: 10px;
  display: flex;
  width: 170px;
  justify-content: center;
  align-items: center;
  background: #3fba00;
}
.TransparentBtn {
  padding: 15px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 150px;
  align-items: center;
  border-radius: 10px;
  border: 2px solid var(--greenMain, #3fba00);
  background: transparent;
}
.TransparentBtnText {
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: #3fba00;
}
.btnText {
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}
.menu-btn {
  display: none;
}
.navbarIcon {
  cursor: pointer;
}
.navbarIcon:hover {
  color: #3fba00;
  transform: scale(1.1);
}

@media (width<600px) {
  .navbar-items {
    display: none;
  }
}
