.blogpage {
  padding: 120px 100px 50px 100px;
  display: flex;
}
.navigation {
  width: 30%;
}
.blogdetail {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 65%;
}
.blogtitle {
  font-family: Alegreya;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0.02em;
  text-align: left;
}
.blogImage {
  border-radius: 20px;
}
.blogContent {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #3b3f5c;
}
